* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
    padding: 20px;
    background-color: #022b3a;
    color: #fff;
}

.main-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;

    background-color: #022b3a;
}

.input-styles{
    font-size: 23px; 
    padding: 10px; 
    border: none;
    outline: none;
    cursor: pointer;
}

.input-styles:hover {
    border: 1px solid black;
}

.addBtn {
    font-size: 23px; 
    padding: 20px;

    width: 30;
    color: rgb(255, 239, 147);
    background-color:#006494;
}


/* bottom part / output */

.main-bottom {
    min-width: 150px;
    min-height: 200px;
    font-size: 2em;
}
